@media screen and (max-width: 600px) {
  .post__header {
    position: absolute;
    top: 0;
    bottom: 70%;
    width: 100%;
    /*height: 40%;*/
  }
  .logo {
    height: 80px;
    margin: 0 20px;
    border-bottom: none;
  }
  .content__header {
    padding: 40px;
    border-bottom: none;
  }
  .post__content {
    position: absolute;
    width: 100%;
    margin-top: 20%;
    margin-left: 0;
    margin-right: 0;
    padding: 5%;
  }
}
